<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.dki.hybridapptest">

    <uses-permission android:name="android.permission.INTERNET" /> <!-- 인터넷 권한 요청 -->
    <uses-permission android:name="android.permission.USE_BIOMETRIC" /> <!-- 생체 인증 권한 요청 -->
    <uses-permission android:name="android.permission.READ_CONTACTS" /> <!-- 읽기 권한 요청 -->
    <!-- 백신 권한 -->
    <!-- <uses-permission android:name="android.permission.READ_PHONE_STATE" /> &lt;!&ndash; 휴대폰 단말기 고유 정보를 읽을 때 요구되는 권한 &ndash;&gt; -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" /> <!-- 악성 앱 진단 즉시 사용자에게 알리기 위해 요구되는 권한 (Android 10 이상) -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" /> <!-- 파일 다운로드 : 저장소 파일 접근 권한 (Android 12 이하,  Build.VERSION_CODES.R) -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.READ_MEDIA_IMAGES"
        android:minSdkVersion="33" /> <!-- Android 13 에서 READ_EXTERNAL_STORAGE권한이 아래 3개의 항목으로 세분화되었다. -->
    <uses-permission
        android:name="android.permission.READ_MEDIA_VIDEO"
        android:minSdkVersion="33" />
    <uses-permission
        android:name="android.permission.READ_MEDIA_AUDIO"
        android:minSdkVersion="33" /> <!-- SD Card 영역 권한 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- 카메라 -->
    <uses-permission android:name="android.permission.CAMERA" /> <!-- 푸시 BroadCast 수신 권한 용 Permission -->
    <permission
        android:name="kr.go.seoul.healthcare.permission.MPUSH_PERMISSION"
        android:protectionLevel="signature"
        tools:ignore="ManifestOrder" />

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="kr.go.seoul.healthcare.permission.MPUSH_PERMISSION" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <queries>
        <package android:name="kr.or.mydatacenter.pds" /> <!-- 외부 앱 사용 -->
    </queries>

    <application
        android:name=".base.MyApplication"
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="true"
        android:theme="@style/Theme.HybridAppTest"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".ui.activity.EncryptionActivity"
            android:exported="false" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_launcher_foreground" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/white" /> <!-- 토큰 자동 생성 방지 -->
        <meta-data
            android:name="firebase_messaging_auto_init_enabled"
            android:value="false" />
        <meta-data
            android:name="firebase_analytics_collection_enabled"
            android:value="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.dki.hybridapptest"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity
            android:name=".ui.activity.IntroActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.WebViewSizeChangeActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false" />
        <activity
            android:name=".ui.activity.MoveWebViewActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false" />
        <activity
            android:name=".ui.activity.HelloWorldActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false" />
        <activity
            android:name=".ui.activity.MainActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false" />
        <activity
            android:name=".ui.activity.XSign.XSignMainActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false" />
        <activity
            android:name=".ui.activity.UserListActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false" />
        <activity
            android:name=".ui.activity.XSign.XSignBaseActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false" />
        <activity
            android:name=".ui.activity.XSign.XSignCertDetailActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false" />
        <activity
            android:name=".ui.activity.XSign.XSignCertListActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false" />
        <activity
            android:name=".ui.activity.XSign.XSignProcessResultActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false" />
        <activity
            android:name=".ui.activity.XSign.XSignSettingActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false" />
        <activity
            android:name=".ui.activity.XSign.XSignUcpidActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false" />
        <activity
            android:name=".ui.activity.XSign.XSignXMLActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false" />
        <activity
            android:name=".ui.activity.HybridModeActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false" /> <!-- =================== PUSH SERVICE SETTINGS START============= -->
        <service
            android:name=".fcm.FirebaseMessagingService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name="m.client.push.library.service.FCMIntentService"
            android:exported="false"
            tools:ignore="Instantiatable">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service> <!-- 푸시 payload data 수신 class -->
        <receiver
            android:name=".fcm.receiver.MessageArrivedReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="kr.go.seoul.healthcare.GCM_MESSAGE_ARRIVED" />
            </intent-filter>
        </receiver> <!-- UPMC 서비스 등록 / 해제 등을 위한 class -->
        <receiver
            android:name="m.client.push.library.receiver.FcmActionReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="kr.go.seoul.healthcare.ACTION_GCM" />
            </intent-filter>
        </receiver>
    </application>

</manifest>