<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.USE_BIOMETRIC" /> <!-- <uses-permission android:name="android.permission.USE_FINGERPRINT" />는 deprecated 되어서 USE_BIOMETRIC으로 대채함 -->

    <application
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.HybridAppTest"
        tools:targetApi="31">
        <!--        <activity-->
        <!--            android:name=".activities.SWInfoActivity"-->
        <!--            android:exported="false" />-->
        <activity
            android:name=".activities.WebViewSizeChangeActivity"
            android:exported="false" />
        <activity
            android:name=".activities.MoveWebViewActivity"
            android:exported="false" />
        <activity
            android:name=".encryption.EncryptionActivity"
            android:exported="false" />
        <activity
            android:name=".activities.HelloWorldActivity"
            android:exported="false" />
        <activity
            android:name=".activities.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.UserCertificationActivity"
            android:exported="false" />
        <activity
            android:name=".activities.UserListActivity"
            android:exported="false" />
        <activity
            android:name=".activities.XSignBaseActivity"
            android:exported="false" />
        <activity
            android:name=".activities.XSignCertDetailActivity"
            android:exported="false" />
        <activity
            android:name=".activities.XSignCertListActivity"
            android:exported="false" />
        <activity
            android:name=".activities.XSignProcessResultActivity"
            android:exported="false" />
        <activity
            android:name=".activities.XSignSettingActivity"
            android:exported="false" />
        <activity
            android:name=".activities.XSignUcpidActivity"
            android:exported="false" />
        <activity
            android:name=".activities.XSignXMLActivity"
            android:exported="false" />
        <activity
            android:name=".activities.HybridModeActivity"
            android:exported="false" />
    </application>

</manifest>